@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #ffffff;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px auto;
  width: auto;
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

.header.fixed {
  position: fixed;
}
.header.fixed .header__inner {
  padding: 15px 0;
}

.header-nav__link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #111111;
  margin-right: 48px;
  position: relative;
}
.header-nav__link:not(:last-child):before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 1;
  width: 0;
  height: 3px;
  background-color: #dcc1ab;
  -webkit-transition: width 0.2s ease 0s;
  transition: width 0.2s ease 0s;
}
.header-nav__link:hover {
  text-decoration: none;
}
.header-nav__link:hover:before {
  width: 100%;
}
.header-nav__link.active:before {
  width: 100%;
}

.dropdown {
  position: relative;
  margin-right: 48px;
}
.dropdown__btn {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #111111;
}
.dropdown__btn svg.active {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.dropdown-inner {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1;
  width: 120px;
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 2px;
  padding: 0 10px;
  background-color: #dcc1ab;
  overflow: hidden;
  -webkit-transition: height 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
  transition: height 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
  transition: height 0.2s ease 0s, transform 0.2s ease 0s;
  transition: height 0.2s ease 0s, transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
  -webkit-transform: translateX(-50%) rotateY(65deg);
          transform: translateX(-50%) rotateY(65deg);
  border-radius: 5px;
}
.dropdown-inner.show {
  height: 120px;
  -webkit-transform: translateX(-50%) rotateY(0deg);
          transform: translateX(-50%) rotateY(0deg);
}
.dropdown-inner__link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #111111;
  margin: 7px 0;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}
.dropdown-inner__link:hover {
  text-decoration: none;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  color: #1b5b31;
}

.search {
  position: relative;
}
.search-btn-open, .search-btn-close {
  display: none;
}
.search-btn-open.show, .search-btn-close.show {
  display: block;
  height: 45px;
  width: 45px;
  padding: 5px;
  cursor: pointer;
}
.search-btn-open:hover, .search-btn-close:hover {
  border: 1px #dcc1ab solid;
  border-radius: 50%;
}
.search-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  margin-top: 10px;
  padding: 5px;
  -webkit-box-shadow: 1px 1px 5px #818181;
          box-shadow: 1px 1px 5px #818181;
  border: 1px #b4b4b4 solid;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.search-menu.show {
  opacity: 1;
  height: 41px;
  width: 300px;
}
.search-menu input {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #111111;
  width: 70%;
  padding: 3px;
  border: 1px #b4b4b4 solid;
  border-radius: 5px;
}
.search-menu button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #111111;
  width: 30%;
  margin-left: 10px;
  padding: 3px 10px;
  border-radius: 5px;
  -webkit-transition: background-color 0.1s ease 0s;
  transition: background-color 0.1s ease 0s;
}

.burger {
  position: relative;
  display: none;
  background: none;
  padding: 13px 2px;
  border: 0px;
  font-size: 0;
  z-index: 20;
  cursor: pointer;
}
.burger:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: transparent;
}
.burger__icon {
  display: block;
  width: 37px;
  height: 3px;
  background-color: #111;
  border-radius: 2px;
  z-index: 2;
  position: relative;
}
.burger__icon:before, .burger__icon:after {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  z-index: 2;
  width: 37px;
  height: 3px;
  background-color: #111;
  border-radius: 2px;
}
.burger__icon:after {
  content: "";
  position: absolute;
  top: -9px;
  left: 0;
  width: 37px;
  height: 3px;
  background-color: #111;
  border-radius: 2px;
}
.burger.active .burger__icon {
  background-color: transparent;
}
.burger.active .burger__icon:after {
  top: 0;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  -webkit-animation: 0.2s afterWidth linear;
          animation: 0.2s afterWidth linear;
}
@-webkit-keyframes afterWidth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes afterWidth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.burger.active .burger__icon:before {
  top: 0;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  width: 0;
  -webkit-animation: 0.15s beforeWidth 0.1s linear forwards;
          animation: 0.15s beforeWidth 0.1s linear forwards;
}
@-webkit-keyframes beforeWidth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes beforeWidth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .dropdown {
    margin-right: 35px;
  }
  .header-nav__link {
    margin-right: 35px;
  }
}
@media (max-width: 650px) {
  .dropdown {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 20px;
  }
  .dropdown__btn {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #111111;
  }
  .dropdown__btn svg {
    width: 20px;
    height: 20px;
  }
  .dropdown-inner {
    width: 100%;
    background-color: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #dcc1ab), to(#daa172));
    background: linear-gradient(#dcc1ab 5%, #daa172 100%);
  }
  .dropdown-inner.show {
    height: 200px;
    -webkit-box-shadow: 0px 5px 4px #292929;
            box-shadow: 0px 5px 4px #292929;
  }
  .dropdown-inner__link {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #111111;
    color: #111;
  }
  .burger {
    display: block;
    z-index: 2;
  }
  .header-nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #dcc1ab;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    padding-top: 106px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-shadow: -3px 0px 15px #292929;
            box-shadow: -3px 0px 15px #292929;
    width: 0;
    opacity: 0;
  }
  .header-nav.active {
    -webkit-animation: showMenu 0.07s linear forwards;
            animation: showMenu 0.07s linear forwards;
  }
  @-webkit-keyframes showMenu {
    0% {
      opacity: 0;
      width: 0;
    }
    100% {
      opacity: 1;
      width: 350px;
    }
  }
  @keyframes showMenu {
    0% {
      opacity: 0;
      width: 0;
    }
    100% {
      opacity: 1;
      width: 350px;
    }
  }
  .header-nav.active .header-nav__link {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #111111;
    margin: 0 0 20px;
  }
  .header-nav.active .header-nav__link:hover:before {
    display: none;
  }
  .header-nav.active .header-nav__link.active {
    color: #1b5b31;
  }
  .header-nav.active .header-nav__link.active:before {
    display: none;
  }
  .header-nav.active .search {
    position: relative;
    width: 100%;
  }
  .header-nav.active .search svg {
    margin: 0px auto;
  }
  .header-nav.active .search-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 110px;
    margin-top: 0;
    padding: 20px 10px;
    background-color: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#dcc1ab), to(#daa172));
    background: linear-gradient(#dcc1ab 0%, #daa172 100%);
    -webkit-box-shadow: 0px 5px 4px #292929;
            box-shadow: 0px 5px 4px #292929;
    border: none;
  }
  .header-nav.active .search-menu input {
    width: 100%;
  }
  .header-nav.active .search-menu button {
    background-color: #fff;
  }
}
@media (max-width: 500px) {
  .header-nav.active {
    width: 90%;
  }
}
.intro {
  background-color: #dcc1ab;
  margin-top: 93px;
}

.intro-slider {
  position: relative;
  max-width: 1440px;
  margin: 0px auto;
}
.intro-slider .slick-list {
  height: 100%;
}
.intro-slider .slick-list .slick-track {
  height: 100%;
}
@media (max-width: 870px) {
  .intro-slider .slick-list .slick-track {
    height: auto;
  }
}
.intro-slider .slick-slider {
  position: relative;
}
.intro-slider .slick-arrow {
  height: 96px;
  width: 96px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: #fff;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.intro-slider .slick-arrow:hover {
  background-color: #1b5b31;
}
.intro-slider .slick-next {
  right: 0;
}
.intro-slider .slick-prev {
  right: 96px;
}
.intro-slider .slider-item.container {
  padding-right: 0;
}
.intro-slider .slider-item-content {
  z-index: 5;
}
.intro-slider .slider-item-content__title {
  margin-bottom: 44px;
}
.intro-slider .slider-item-content__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  padding: 12px 20px;
  border-radius: 30px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.intro-slider .slider-item-content__btn:hover {
  color: #fff;
  background-color: #1b5b31;
}
.intro-slider .slider-item-content__btn:hover svg {
  fill: #fff;
  -webkit-animation: zobaczRealizacjie 1s linear infinite;
          animation: zobaczRealizacjie 1s linear infinite;
}
@-webkit-keyframes zobaczRealizacjie {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  25% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  75% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes zobaczRealizacjie {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  25% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  75% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
.intro-slider .slider-item-content__btn svg {
  fill: #1b5b31;
  margin: 4px 0 0 4px;
  width: 16px;
  height: 16px;
  -webkit-transition: fill 0.2s ease 0s;
  transition: fill 0.2s ease 0s;
}
.intro-slider .slider-item-photo {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.intro-slider .slider-item-photo img {
  overflow: hidden;
  z-index: 2;
}
.intro-slider .slider-item-photo:after {
  position: absolute;
  top: 0;
  left: -1px;
  z-index: 3;
  content: "";
  width: 100%;
  height: 100%;
}
@media (max-width: 870px) {
  .intro-slider .slider-item-photo {
    background: url("../../../src/assets/img/intro/slide-1.png");
    background-size: cover;
  }
  .intro-slider .slider-item-photo img {
    display: none;
  }
}

@media (max-width: 870px) {
  .intro-slider .slick-arrow {
    height: 0px;
    width: 0px;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
    bottom: 200%;
    background-color: transparent;
  }
  .intro-slider .slick-arrow:hover {
    background-color: transparent;
  }
}
.offer {
  background-color: #f5f0ec;
}
.offer__suptitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #1b5b31;
  margin-bottom: 16px;
}
.offer__title {
  margin-bottom: 32px;
}
.offer__text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #111111;
  line-height: 1.5;
  max-width: 710px;
}

.offer-cards-item {
  padding: 45px;
  background-color: #fff;
  border-radius: 25px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  cursor: pointer;
}
.offer-cards-item:hover {
  -webkit-transform: translate3d(-3px, -3px, 0px);
          transform: translate3d(-3px, -3px, 0px);
  -webkit-box-shadow: 3px 3px 8px #6e6e6e;
          box-shadow: 3px 3px 8px #6e6e6e;
}
.offer-cards-item:active {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  -webkit-box-shadow: 0px 0px 0px #fff;
          box-shadow: 0px 0px 0px #fff;
}
.offer-cards-item__icon {
  margin-bottom: 32px;
}
.offer-cards-item__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 28px;
  color: #111111;
  margin-bottom: 12px;
}
.offer-cards-item__text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #111111;
  line-height: 1.5;
  margin-bottom: 63px;
}
.offer-cards-item__btn {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1b5b31;
  position: relative;
}
.offer-cards-item__btn:after {
  content: "";
  position: absolute;
  top: 105%;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 1px;
  background-color: #1b5b31;
  -webkit-transition: height 0.2s ease 0s;
  transition: height 0.2s ease 0s;
}
.offer-cards-item__btn svg {
  stroke: #1b5b31;
  height: 20px;
  width: 20px;
  margin-left: 6px;
  -webkit-transform: translate3d(0px, 3px, 0px);
          transform: translate3d(0px, 3px, 0px);
}
.offer-cards-item__btn:hover svg {
  -webkit-animation: DowiedzSie 0.8s linear infinite;
          animation: DowiedzSie 0.8s linear infinite;
}
@-webkit-keyframes DowiedzSie {
  0% {
    -webkit-transform: translate3d(0px, 3px, 0px);
            transform: translate3d(0px, 3px, 0px);
  }
  50% {
    -webkit-transform: translate3d(5px, 3px, 0px);
            transform: translate3d(5px, 3px, 0px);
  }
  100% {
    -webkit-transform: translate3d(0px, 3px, 0px);
            transform: translate3d(0px, 3px, 0px);
  }
}
@keyframes DowiedzSie {
  0% {
    -webkit-transform: translate3d(0px, 3px, 0px);
            transform: translate3d(0px, 3px, 0px);
  }
  50% {
    -webkit-transform: translate3d(5px, 3px, 0px);
            transform: translate3d(5px, 3px, 0px);
  }
  100% {
    -webkit-transform: translate3d(0px, 3px, 0px);
            transform: translate3d(0px, 3px, 0px);
  }
}
.offer-cards-item__btn:hover:after {
  height: 2px;
}

.about .about-inner {
  max-width: 1440px;
  margin: 0px auto;
}

.about-photo:after {
  position: absolute;
  top: 0;
  left: -1px;
  z-index: 3;
  content: "";
  width: 100%;
  height: 100%;
}

.about-content {
  color: #f5f0ec;
  text-align: left;
}
.about-content__suptitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #f5f0ec;
  margin-bottom: 16px;
}
.about-content__btn {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #f5f0ec;
  max-width: 200px;
  background-color: transparent;
  padding: 12px 20px;
  border: 2px #fff solid;
  color: #fff;
  border-radius: 30px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.about-content__btn svg {
  stroke: #fff;
  height: 20px;
  width: 20px;
  -webkit-transform: translate3d(0px, 3px, 0px);
          transform: translate3d(0px, 3px, 0px);
  margin-left: 5px;
}
.about-content__btn:hover {
  color: #1b5b31;
  background-color: #fff;
}
.about-content__btn:hover svg {
  stroke: #1b5b31;
  -webkit-animation: PoznajNas 0.8s linear infinite;
          animation: PoznajNas 0.8s linear infinite;
}
@-webkit-keyframes PoznajNas {
  0% {
    -webkit-transform: translate3d(0px, 3px, 0px);
            transform: translate3d(0px, 3px, 0px);
  }
  50% {
    -webkit-transform: translate3d(5px, 3px, 0px);
            transform: translate3d(5px, 3px, 0px);
  }
  100% {
    -webkit-transform: translate3d(0px, 3px, 0px);
            transform: translate3d(0px, 3px, 0px);
  }
}
@keyframes PoznajNas {
  0% {
    -webkit-transform: translate3d(0px, 3px, 0px);
            transform: translate3d(0px, 3px, 0px);
  }
  50% {
    -webkit-transform: translate3d(5px, 3px, 0px);
            transform: translate3d(5px, 3px, 0px);
  }
  100% {
    -webkit-transform: translate3d(0px, 3px, 0px);
            transform: translate3d(0px, 3px, 0px);
  }
}

.instagram-inner-right p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #f5f0ec;
  line-height: 150%;
}
.instagram-inner-right a {
  background-color: #1b5b31;
  color: #f5f0ec;
  border: 1px #f5f0ec solid;
  border-radius: 200px;
  padding: 12px 24px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.instagram-inner-right a:hover {
  text-decoration: none;
  background-color: #f5f0ec;
  color: #1b5b31;
}

.works__suptitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #1b5b31;
  margin-bottom: 16px;
}

.grid {
  position: relative;
  margin: 0 -20px;
  padding: 76px 0 44px;
}
.grid.hide:after {
  height: 0%;
}
.grid.hide button {
  background-color: #dcc1ab;
  border-color: #d8b395;
  -webkit-box-shadow: 0px 0px 5px #000;
          box-shadow: 0px 0px 5px #000;
}
.grid.hide button svg {
  -webkit-transform: translateY(4px) rotateZ(180deg);
          transform: translateY(4px) rotateZ(180deg);
}
.grid:after {
  content: "";
  width: 100%;
  height: 65%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(90%, #dcc1ab));
  background: linear-gradient(transparent 0%, #dcc1ab 90%);
  -webkit-transition: height 0.2s ease 0s;
  transition: height 0.2s ease 0s;
}
.grid button {
  position: absolute;
  bottom: 90px;
  left: 50%;
  z-index: 3;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 22px;
  border: 1px #000 solid;
  border-radius: 30px;
  -webkit-transition: background-color 0.2s ease 0s;
  transition: background-color 0.2s ease 0s;
}
.grid button:hover {
  border-color: #1b5b31;
  color: #1b5b31;
  background-color: #f0cfb4;
}
.grid button:hover.rozwin svg {
  stroke: #1b5b31;
  -webkit-animation: rozwin 0.8s linear infinite;
          animation: rozwin 0.8s linear infinite;
}
@-webkit-keyframes rozwin {
  0% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  50% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  100% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
}
@keyframes rozwin {
  0% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  50% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  100% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
}
.grid button:hover.zwinac svg {
  stroke: #1b5b31;
  -webkit-animation: zwinac 0.8s linear infinite;
          animation: zwinac 0.8s linear infinite;
}
@-webkit-keyframes zwinac {
  0% {
    -webkit-transform: translateY(4px) rotateZ(180deg);
            transform: translateY(4px) rotateZ(180deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotateZ(180deg);
            transform: translateY(0px) rotateZ(180deg);
  }
  100% {
    -webkit-transform: translateY(4px) rotateZ(180deg);
            transform: translateY(4px) rotateZ(180deg);
  }
}
@keyframes zwinac {
  0% {
    -webkit-transform: translateY(4px) rotateZ(180deg);
            transform: translateY(4px) rotateZ(180deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotateZ(180deg);
            transform: translateY(0px) rotateZ(180deg);
  }
  100% {
    -webkit-transform: translateY(4px) rotateZ(180deg);
            transform: translateY(4px) rotateZ(180deg);
  }
}
.grid button svg {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  width: 15px;
  height: 15px;
  margin-left: 8px;
}

.grid-item {
  display: block;
  width: 33.333%;
  padding: 20px;
  -webkit-transition: opacity 0.2s ease 0s;
  transition: opacity 0.2s ease 0s;
  cursor: pointer;
}
.grid-item div {
  position: relative;
}
.grid-item div:after {
  content: url("../../../src/assets/img/works/open-outline.svg");
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6705882353);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease 0s;
  transition: opacity 0.2s ease 0s;
}
.grid-item div:hover:after {
  opacity: 1;
}
@media (max-width: 1050px) {
  .grid-item {
    padding: 10px;
  }
}
@media (max-width: 800px) {
  .grid-item {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .grid-item {
    width: 100%;
    margin: 0px auto;
  }
  .grid-item img {
    width: 100%;
    padding: 0 20px;
  }
}

.modal-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 100%;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7882352941);
}
.modal-bg.show {
  top: 0;
}
.modal-bg.show .modal-window {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.modal-window {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 550px;
  background-color: #fff;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0.5;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.modal-window button.close {
  position: absolute;
  top: 10px;
  right: calc(10% + 15px);
  z-index: 3;
  width: 45px;
  height: 45px;
}
.modal-window button.close svg {
  fill: #1b5b31;
  width: 100%;
  height: 100%;
  -webkit-transition: fill 0.15s ease 0s;
  transition: fill 0.15s ease 0s;
}
.modal-window button.close:hover svg {
  fill: #dcc1ab;
}
@media (max-width: 1000px) {
  .modal-window button.close {
    right: 20px;
  }
}

.modal-slider {
  position: relative;
  height: 100%;
}
.modal-slider .slick-arrow {
  height: 35px;
  width: 35px;
  position: absolute;
  bottom: 50%;
  right: 0;
  z-index: 1;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background-color: transparent;
  -webkit-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s;
}
.modal-slider .slick-arrow.slick-next {
  right: calc(10% + 30px);
  -webkit-transform: translateY(50%) rotateZ(45deg);
          transform: translateY(50%) rotateZ(45deg);
  border-top: 3px #1b5b31 solid;
  border-right: 3px #1b5b31 solid;
}
.modal-slider .slick-arrow.slick-next:before {
  content: "";
}
@media (max-width: 1000px) {
  .modal-slider .slick-arrow.slick-next {
    right: 30px;
  }
}
.modal-slider .slick-arrow.slick-prev {
  left: 30px;
  -webkit-transform: translateY(50%) rotateZ(-45deg);
          transform: translateY(50%) rotateZ(-45deg);
  border-top: 3px #1b5b31 solid;
  border-left: 3px #1b5b31 solid;
}
.modal-slider .slick-arrow.slick-prev:before {
  content: "";
}
.modal-slider .slick-arrow:hover {
  border-color: #dcc1ab;
}
.modal-slider-slider-item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #000;
}
.modal-slider .slick-list {
  height: 100%;
  width: 90%;
}
@media (max-width: 1000px) {
  .modal-slider .slick-list {
    width: 100%;
  }
}
.modal-slider .slick-list .slick-track {
  height: 100%;
}
.modal-slider .slick-list .slick-track .slick-slide {
  height: 100%;
}
@media (max-width: 1000px) {
  .modal-slider .slick-list .slick-track .slick-slide {
    width: 100%;
  }
}
.modal-slider .slick-dots {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 10%;
  background-color: #1b5b31;
  overflow: auto;
}
.modal-slider .slick-dots button {
  position: relative;
  margin: 2px 0;
  width: 100%;
  height: 81px;
  -webkit-transition: background-color 0.2s ease 0s;
  transition: background-color 0.2s ease 0s;
  background-color: #dcc1ab;
  color: #a18d7d;
}
.modal-slider .slick-dots button:before {
  width: 40%;
  height: 40%;
}
.modal-slider .slick-dots li.slick-active button:before {
  opacity: 1;
}
.modal-slider .slick-dots li:hover button:before {
  opacity: 0.5;
}
@media (max-width: 1000px) {
  .modal-slider .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .modal-slider .slick-dots button {
    width: 80px;
    height: 100%;
    margin: 0 2px;
  }
}
@media (max-width: 550px) {
  .modal-slider .slick-dots {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.footer {
  background-color: #111;
  color: #f5f0ec;
}

.footer-top {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #f5f0ec;
  border-bottom: 2px #f5f0ec solid;
}
.footer-top button {
  background-color: #1b5b31;
  color: #f5f0ec;
  border-radius: 200px;
  padding: 12px 24px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.footer-top button:hover {
  background-color: #f5f0ec;
  color: #1b5b31;
}

.footer-bottom {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #f5f0ec;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  color: #111111;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1290px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}